<footer class="bg-dark text-light text-center py-4">
  <div class="container">
    <div class="row">
      <!-- Sitemap Column -->
      <div class="col-md-4">
        <h5>Sitemap</h5>
        <ul class="list-unstyled">
          <%- footerItems %>
        </ul>
      </div>

      <!-- Contacts Column -->
      <div class="col-md-4">
        <h5>Contacts</h5>
        <ul class="list-unstyled">
          <%- contactInfo %>
        </ul>
      </div>

      <!-- Social Media Column -->
      <div class="col-md-4">
        <h5>Social Media</h5>
        <ul class="list-unstyled">
          <%- socialMedia %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row text-light fs-6">
    <div class="col-md-12">
      <hr class="bg-light">
      <%- copyrightNotice %>
    </div>
  </div>
</footer>