<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo on the left -->
    <a class="navbar-brand" href="/home">
      <img src="<%= appLogo %>" alt="Logo" class="logo-img"
           style="height: 50px;"> <!-- Ensure the logo isn't too large -->
    </a>
    <span class="text-light modal-header">
      <%= appName %>
    </span>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <%- headerItems %>
      </ul>
    </div>
  </div>
</nav>
