<!-- views/da/about.ejs -->
<section>
  <h1>Om Os</h1>
  <p>
    Velkommen til <%= appName %>, din pålidelige rådgiver for projektering
    af bærende konstruktoiner! Vores mission er at
    levere sikre og omkostningseffektive byggeløsninger til både offentlige
    og private projekter.

  </p>
  <p>
    Ledet af William Jacobsen, en certificeret KK2-statiker,
    tilbyder vi omfattende ekspertise og personlig opmærksomhed til hvert
    projekt. Hans evner sikrer nøjagtige statiske beregninger og
    effektiv håndtering af byggetilladelser, hvilket fremmer en hurtigere og
    mere omkostningseffektiv projektrealisering.
  </p>
  <p>

    Ved at arbejde med os får du en partner, der værdsætter kvalitet og
    integritet. Vi forpligter os til at tilpasse vores løsninger til dine
    unikke behov og sikrer, at dit projekt opfylder alle tekniske krav med
    minimal besvær.

  </p>
</section>
