<!-- views/da/services.ejs -->
<section>
  <h1>Vores Tjenester</h1>
  <ul>
    <li>Strukturel vurdering og design</li>
    <li>Byggeledelse og tilsyn</li>
    <li>Projektplanlægning og risikostyring</li>
    <li>Overholdelse af lovgivning og sikkerhedsforskrifter</li>
  </ul>
</section>
